/* Basis styles */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    overflow-x: hidden;

    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;

    max-width: 1200px;
    margin: 0 auto;
}

main {
    background-color: rgba(255, 255, 255, 0.95);
}

.box {
    opacity: 1;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 80%;
}

/* Fonts */

a {
    text-decoration: none;

    font-family: 'Poiret One', cursive;
    font-size: 3.5em;
    color: white;
}

.link_tekst a {
    text-decoration: none;

    font-family: 'Poiret One', cursive;
    font-size: 2.2em;
    color: white;
    background-color: rgb(76, 162, 219);
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 2.2em;
    color: #366662;
}

h2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.06), transparent) no-repeat center left;

    font-family: 'Pacifico', cursive;
    font-size: 3.2em;
    color: #428983;
    background-color: rgb(243, 208, 215, 0.7);
}

h1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.06), transparent) no-repeat center left;
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    color: #428983;
    background-color: rgb(243, 208, 215, 0.7);
}

footer {
    background-color: #366662;
    margin: 0;
    padding: 0;
}

footer p {
    font-family: 'Poiret One', cursive;
    font-size: 1.8em;
    color: white;
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    background-color: #2b6f69;
}

nav ul li {
    position: relative;
    padding-right: 2em;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: #2b6f69;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 1em;
    font-size: 0.6em;
}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;
}

.dropdown:hover > ul {
    display: block;
}
