/* Basis styles */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #0f152d;
}

img {
    width: 100%;
}

/* Fonts */

@font-face {
    src: url(assets/fonts/Lazer84.ttf);
    font-family: lazer84;
}

@font-face {
    src: url(assets/fonts/Streamster.ttf);
    font-family: streamster;
}

a {
    font-family: lazer84;
    font-size: 2em;
    color: #f0e402;
    background-color: #c11152;
}

p {
    font-size: 1.8em;
    font-family: streamster;
    color: white;
}

h2 {
    font-family: lazer84;
    font-size: 3em;
    color: #f0e402;
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
}

nav ul li {
    position: relative;
    padding-right: 2em;
}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 1em;
}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;
}

.dropdown:hover > ul {
    display: block;
}
